name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build Frontend
        run: npm run build

      - name: Upload Production Build
        uses: actions/upload-artifact@v3
        with:
          name: frontend-build
          path: dist/
